@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-hover {
    @apply hover:border-b-2 hover:border-black pb-1
}
